<template>
    <div id="campaigns">
		<div class="vx-row">
			<div class="vx-col md:w-1/2 w-full mb-base">
				<vx-card title="Create New Campaign">
                    <div class="vx-row mb-6">
                        <div class="vx-col w-full">
                            <vs-input class="w-full" label="Campaign Name" v-model="campaign.name" />
                        </div>
                    </div>
                    <div class="vx-row mb-6">
                        <div class="vx-col w-full">
                            <vs-select autocomplete label="Campaign Offer" class="w-full" v-model="campaign.offer">
                                <vs-select-item :key="index" :value="item.id" :text="item.name" v-for="(item,index) in offers" />
                            </vs-select>
                        </div>
                    </div>
                    <div class="vx-row mb-6">
                        <div class="vx-col w-full">
                            <multiselect
                                v-model="campaign.files"
                                :multiple="true"
                                :close-on-select="true"
                                placeholder="Pick Files"
                                :options="files"
                                label="name"
                                track-by="name">
                            </multiselect>
                        </div>
                    </div>
                    
                    <div class="vx-row">
                        <div class="vx-col w-full">
                            <vs-button @click="addCampaign()" class="mr-3 mb-2">Submit</vs-button>
                        </div>
                    </div>
                </vx-card>
            </div>
        </div>
    </div>
</template>

<script>
import Multiselect from 'vue-multiselect'

export default {
    components: { Multiselect },
    data() {
        return {
            campaign: {
                name: '',
                offer: '',
                files: '',
            },
        }
    },
    created(){
        if(this.offers.length == 0) this.$store.dispatch('fetchOffers');
        if(this.files.length == 0) this.$store.dispatch('fetchFiles');
    },
    computed: {
        offers(){
            return this.$store.getters.offers;
        },
        files(){
            return this.$store.getters.files;
        }
    },
    methods: {
        addCampaign() {
            this.$store.dispatch('addCampaign', this.campaign)
            .then((res) => {
                this.$router.push('/campaigns');
            });
        }
    },
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>