<template>
	<div id="campaigns">
		<div class="vx-row">
			<div class="vx-col w-full">
				<vx-card title="Campaigns">
					<div class="mt-4">

						<div v-show="activePrompt" class="vx-row">
							<div class="vx-col sm:w-1/4 w-full" style="z-index: 1050;">
								<multiselect
									v-model="edit.file"
									:multiple="false"
									:close-on-select="true"
									placeholder="Pick Files"
									:options="files"
									label="name"
									track-by="name">
								</multiselect>
							</div>
							
							<div class="vx-col sm:w-1/4 w-full">
								<vs-button @click="addFile()" >Add File</vs-button>
							</div>
						</div>

                        <div slot="fc-header-right" class="flex justify-end">
                            <vs-button icon-pack="feather" icon="icon-plus" to="/campaigns/add" >New Campaign</vs-button>
                        </div>
						<vs-table :data="campaigns" pagination max-items="10" search>
							<template slot="thead">
								<vs-th sort-key="id">Campaign ID.</vs-th>
								<vs-th sort-key="name">NAME</vs-th>
                                <vs-th sort-key="leads">OFFER TYPE</vs-th>
								<vs-th sort-key="clicks">CLICKS</vs-th>
								<vs-th sort-key="opens">OPENS</vs-th>
								<vs-th sort-key="emails">EMAILS</vs-th>
								<vs-th sort-key="leads">LEADS</vs-th>
								<vs-th sort-key="startDate">START DATE</vs-th>
								<vs-th>ACTIONS</vs-th>
							</template>
							
							<template slot-scope="{data}" >
								<vs-tr :key="indextr" v-for="(tr, indextr) in data">
									<vs-td :data="data[indextr].id">
										<span>#{{data[indextr].id}}</span>
									</vs-td>
									<vs-td :data="data[indextr].name">
										<span>{{data[indextr].name}}</span>
									</vs-td>
                                    <vs-td :data="data[indextr].id">
										<span>{{data[indextr].offer.type}}</span>
									</vs-td>
									<vs-td :data="data[indextr].id">
										<span v-if="data[indextr].stats.clicks">{{data[indextr].stats.clicks}}</span>
										<span v-else>0</span>
									</vs-td>
									<vs-td :data="data[indextr].id">
										<span v-if="data[indextr].stats.opens">{{data[indextr].stats.opens}}</span>
										<span v-else>0</span>
									</vs-td>
									<vs-td :data="data[indextr].id">
										<span v-if="data[indextr].stats.emails">{{data[indextr].stats.emails}}</span>
										<span v-else>0</span>
									</vs-td>
									<vs-td :data="data[indextr].id">
										<span v-if="data[indextr].stats.leads">{{data[indextr].stats.leads}}</span>
										<span v-else>0</span>
									</vs-td>
                                    <vs-td :data="data[indextr].id">
										<span>{{data[indextr].created_at}}</span>
									</vs-td>
									<vs-td :data="data[indextr].id">
										<vs-button class="inline" color="primary" type="gradient" :to="'/campaigns/analytics/'+tr.id" >Analytics</vs-button>
										<vs-button class="inline" color="primary" type="gradient" :to="'/campaigns/leads/'+tr.id" >Leads</vs-button>
										<vs-dropdown vs-trigger-click class="btnx"> 
											<vs-button class="btn-drop" type="gradient" icon="expand_more"></vs-button>
											<vs-dropdown-menu >
												<vs-dropdown-item @click="exportData('noopen',tr.id)" >
													Export No-Openers 
												</vs-dropdown-item>
												<vs-dropdown-item @click="exportData('open',tr.id)" >
													Export Openers 
												</vs-dropdown-item>
												<vs-dropdown-item  @click="exportData('click',tr.id)" divider>
													Export Clickers
												</vs-dropdown-item>
												<vs-dropdown-item  @click="editCampaign(tr.id)" divider>
													Add File
												</vs-dropdown-item>
												<vs-dropdown-item  @click="deleteCampaign(tr.id)" divider>
													Delete
												</vs-dropdown-item>
											</vs-dropdown-menu>
										</vs-dropdown>
									</vs-td>
								</vs-tr>
							</template>
						</vs-table>
					</div>
					
				</vx-card>
			</div>
		</div>
		
	</div>
</template>

<script>
import Multiselect from 'vue-multiselect'
import Prism from 'vue-prism-component'

export default{
	data() {
		return {
			loading: null,
			activePrompt: false,
			edit: {
				file: null,
				campaign: null
			}
		}
	},
	created(){
		if(this.campaigns.length == 0 ){
			this.$vs.loading();
			this.$store.dispatch('fetchCampaigns')
			.then(res => {
				this.$vs.loading.close();
			})
		}
		if(this.files.length == 0) this.$store.dispatch('fetchFiles');
	},
    methods: {
        getStatusColor(status){
            if(status.toLowerCase().trim() == "running"){
                return "success";
            }else{
                return "danger";
            }
		},
		editCampaign(id){
			this.activePrompt = true;
			this.edit.campaign = id;
		},
		addFile(){
			this.$store.dispatch('addCampaignFile', this.edit)
			.then(res => {
				this.activePrompt = false;
				this.edit.file = null;
				this.edit.campaign = null;
			})
		},
		deleteCampaign(id){
			this.$swal({
				title: 'Are you sure?',
				text: "You won't be able to revert this!",
				type: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete it!'
				}).then((result) => {
				if (result.value) {
					this.$store.dispatch('deleteCampaign', id);
					this.$swal(
						'Deleted!',
						'Your Campaign has been deleted.',
						'success'
					)
				}
			})
		},
		exportData(type, id){
			if(type == 'open'){
				this.$store.dispatch('exportOpens', id);
			} else if (type == 'noopen') {
				this.$store.dispatch('exportNoOpen', id);
			} else {
				this.$store.dispatch('exportClicks', id);
			}
		}
	},
	computed: {
		campaigns(){
			return this.$store.getters.campaigns.sort((a,b) => a.id - b.id );
		},
		files(){
			return this.$store.getters.files;
		}
	},
    components: {
		Prism,
		Multiselect
	}
}
</script>

<style lang="scss">
#dashboard-analytics {
	.greet-user{
		position: relative;
		.decore-left{
			position: absolute;
			left:0;
			top: 0;
		}
		.decore-right{
			position: absolute;
			right:0;
			top: 0;
		}
	}

	@media(max-width: 576px) {
		.decore-left, .decore-right{
			width: 140px;
		}
	}
}

.btnx {
	top: 9px;
}
</style>