<template>
	<div id="leads">
		<div class="vx-row">
			<div class="vx-col w-full">
				<vx-card title="Leads">
					<div class="mt-4">
						<vs-table :data="leads" pagination max-items="3" search>
							<template slot="thead">
								<vs-th sort-key="id">LEAD ID.</vs-th>
								<vs-th sort-key="name">VISITOR EMAIL</vs-th>
                                <vs-th sort-key="campaign">CAMPAIGN NAME</vs-th>
								<vs-th sort-key="offer">OFFER NAME</vs-th>
								<vs-th sort-key="payout">PAYOUT</vs-th>
								<vs-th sort-key="date">DATE</vs-th>
							</template>

							<template slot-scope="{data}">
								<vs-tr :key="indextr" v-for="(tr, indextr) in data">
									<vs-td :data="data[indextr].id">
										<span>#{{data[indextr].id}}</span>
									</vs-td>
									<vs-td :data="data[indextr].id">
										<span>{{data[indextr].visitor.email}}</span>
									</vs-td>
                                    <vs-td :data="data[indextr].id">
										<span>{{data[indextr].campaign.name}}</span>
									</vs-td>
									<vs-td :data="data[indextr].id">
										<span>{{data[indextr].campaign.offer.name}}</span>
									</vs-td>
                                    <vs-td :data="data[indextr].id">
										<span>{{data[indextr].payout}}</span>
									</vs-td>
                                    <vs-td :data="data[indextr].id">
										<span>{{data[indextr].created_at}}</span>
									</vs-td>
								</vs-tr>
							</template>
						</vs-table>
					</div>
					
				</vx-card>
			</div>
		</div>
		
	</div>
</template>

<script>

import Prism from 'vue-prism-component'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default{
	data() {
		return {
            activePrompt: false,
            settings: {
				maxScrollbarLength: 60,
				wheelSpeed: 0.30,
            },
		}
	},
	created(){
		if(this.leads.length > 0) return;
		else {
			this.$vs.loading();
			this.$store.dispatch('fetchLeads', this.$route.params.id)
			.then(res => {
				this.$vs.loading.close();
			})
		}
	},
	computed: {
		leads(){
			return this.$store.getters.leads;
		}
	},
    components: {
        Prism,
        VuePerfectScrollbar
	}
}
</script>

<style lang="scss">

#dashboard-analytics {
	.greet-user{
		position: relative;
		.decore-left{
			position: absolute;
			left:0;
			top: 0;
		}
		.decore-right{
			position: absolute;
			right:0;
			top: 0;
		}
	}

	@media(max-width: 576px) {
		.decore-left, .decore-right{
			width: 140px;
		}
	}
}
</style>