<template>
	<div id="offers">
		<div class="vx-row">
			<div class="vx-col w-full">
				<vx-card title="Offers">
					<div class="mt-4">
						<div v-show="activePrompt" class="vx-row">
							<div class="vx-col sm:w-1/4 w-full mb-2">
								<vs-input name="offerName" label-placeholder="Offer Name" v-model="offer.name" class="w-full mb-6" />
							</div>
							<div class="vx-col sm:w-1/4 w-full mb-2">
								<template v-if="custom">
									<vs-input name="offerType" label-placeholder="New Offer Type" v-model="offer.type" class="w-full mb-6" />
								</template>
								<template v-else>
									<vs-row>
										<vs-col vs-w="10" class="p-0">
											<vs-select label="Offer Type" autocomplete class="w-full mb-6" v-model="offer.type">
												<vs-select-item :key="index" :value="item" :text="item" v-for="(item,index) in types" />
											</vs-select>
										</vs-col>
										<vs-col vs-w="2" class="mt-5">
											<vs-button radius color="primary" @click="custom = true" name="custom" type="gradient" icon-pack="feather" icon="icon-plus"></vs-button>
										</vs-col>
									</vs-row>
								</template>
							</div>
							 
							<div class="vx-col sm:w-1/4 w-full">
								<vs-input name="offerSponsor" label-placeholder="Offer Sponsor" v-model="offer.sponsor" class="w-full" />
							</div>
							<div class="vx-col sm:w-1/4 w-full mt-4">
								<vs-button @click="addOffer" >Add Offer</vs-button>
							</div>
						</div>
                        <div slot="fc-header-right" class="flex justify-end">
                            <vs-button v-show="!activePrompt" icon-pack="feather" icon="icon-plus" @click="activePrompt = true" >New Offer</vs-button>
                        </div>
                
						<vs-table :data="offers" pagination max-items="10" search>
							<template slot="thead">
								<vs-th sort-key="id">OFFER ID.</vs-th>
								<vs-th sort-key="name">NAME</vs-th>
                                <vs-th sort-key="type">OFFER TYPE</vs-th>
								<vs-th sort-key="sponsor">SPONSOR</vs-th>
								<vs-th>ACTIONS</vs-th>
							</template>

							<template slot-scope="{data}">
								<vs-tr :key="indextr" v-for="(tr, indextr) in data">
									<vs-td :data="data[indextr].id">
										<span>#{{data[indextr].id}}</span>
									</vs-td>
									<vs-td :data="data[indextr].name">
										<span>{{data[indextr].name}}</span>
									</vs-td>
                                    <vs-td :data="data[indextr].id">
										<span>{{data[indextr].type}}</span>
									</vs-td>
									<vs-td :data="data[indextr].id">
										<span>{{data[indextr].sponsor}}</span>
									</vs-td>
									<vs-td :data="data[indextr].id">
										<vs-button color="primary" type="gradient" >Archive</vs-button>
									</vs-td>
								</vs-tr>
							</template>
						</vs-table>
					</div>
					
				</vx-card>
			</div>
		</div>
		
	</div>
</template>

<script>

import Prism from 'vue-prism-component'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'

export default{
	name:'offers',
	data() {
		return {
            activePrompt: false,
            settings: {
				maxScrollbarLength: 60,
				wheelSpeed: 0.30,
            },
            offer: {
                name: '',
                type: '',
                sponsor: '',
			},
			custom: false,
		}
	},
	created(){
		if(this.offers.length > 0) return;
		else {
			this.$vs.loading();
			this.$store.dispatch('fetchOffers')
			.then(res => {
				this.$vs.loading.close();
			})
		}
	},
    methods: {
        clearFields() {
			this.offer.name = '';
			this.offer.type = '';
			this.offer.sponsor = '';
		},
		addOffer() {
			this.$store.dispatch('addOffer', this.offer);
        },
	},
	computed: {
		offers(){
			return this.$store.getters.offers;
		},
		types(){
			if(this.offers.length > 0){
				let td = [];
				for(let toffer of this.offers){
					td.push(toffer.type);
				}
				return td.reduce((arr, type) => arr.includes(type) ? arr : [...arr, type], []);
			}
			return ['None'];
		}
	},
    components: {
        Prism,
        VuePerfectScrollbar
	}
}
</script>

<style lang="scss">

</style>