<template>
	<div id="offers">
		<div class="vx-row">
			<div class="vx-col w-full">
				<vx-card title="Visitors">
					<div class="mt-4">
						<vs-table :data="visitors" pagination max-items="30" search>
							<template slot="thead">
								<vs-th sort-key="email">EMAIL</vs-th>
								<vs-th sort-key="name">NAME</vs-th>
                                <vs-th sort-key="ip">IP</vs-th>
                                <vs-th sort-key="os">OS</vs-th>
                                <vs-th sort-key="device">DEVICE TYPE</vs-th>
                                <vs-th sort-key="browser">BROWSER</vs-th>
                                <vs-th sort-key="refer">REFER</vs-th>
                                <vs-th sort-key="country">COUNTRY</vs-th>
                                <vs-th sort-key="city">CITY</vs-th>
                                <vs-th sort-key="isp">ISP</vs-th>
                                <vs-th sort-key="proxy">PROXY</vs-th>
								<vs-th>ACTIONS</vs-th>
							</template>

							<template slot-scope="{data}">
								<vs-tr :key="indextr" v-for="(tr, indextr) in data">
									<vs-td :data="data[indextr].id">
										<span>{{data[indextr].email}}</span>
									</vs-td>
									<vs-td :data="data[indextr].id">
										<span>{{data[indextr].full_name}}</span>
									</vs-td>
                                    <vs-td :data="data[indextr].id">
										<span>{{data[indextr].ip}}</span>
									</vs-td>
                                    <vs-td :data="data[indextr].id">
										<span>{{data[indextr].os}}</span>
									</vs-td>
                                    <vs-td :data="data[indextr].id">
										<span>{{data[indextr].device}}</span>
									</vs-td>
                                    <vs-td :data="data[indextr].id">
										<span>{{data[indextr].browser}}</span>
									</vs-td>
                                    <vs-td :data="data[indextr].id">
										<span>{{data[indextr].refer}}</span>
									</vs-td>
                                    <vs-td :data="data[indextr].id">
										<span>{{data[indextr].country}}</span>
									</vs-td>
                                    <vs-td :data="data[indextr].id">
										<span>{{data[indextr].city}}</span>
									</vs-td>
                                    <vs-td :data="data[indextr].id">
										<span>{{data[indextr].isp}}</span>
									</vs-td>
                                    <vs-td :data="data[indextr].id">
										<span>{{data[indextr].is_proxy}}</span>
									</vs-td>
								</vs-tr>
							</template>
						</vs-table>
					</div>
					
				</vx-card>
			</div>
		</div>
		
	</div>
</template>

<script>

import Prism from 'vue-prism-component'

export default{
	data() {
		return {
            activePrompt: false,
            settings: {
				maxScrollbarLength: 60,
				wheelSpeed: 0.30,
            }
		}
	},
	created(){
	    this.$store.dispatch('fetchVisitors', this.$route.params);
	},
	computed: {
		visitors(){
			return this.$store.getters.visitors;
		}
	},
    components: {
        Prism,
	}
}
</script>

<style lang="scss">
.con-vs-dialog {
    z-index: 52000 !important;
}
#dashboard-analytics {
	.greet-user{
		position: relative;
		.decore-left{
			position: absolute;
			left:0;
			top: 0;
		}
		.decore-right{
			position: absolute;
			right:0;
			top: 0;
		}
	}

	@media(max-width: 576px) {
		.decore-left, .decore-right{
			width: 140px;
		}
	}
}
</style>